@font-face {
  font-family: 'Glegoo';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/_Xmt-HQyrTKWaw25jKOd.ttf) format('truetype');
}
@font-face {
  font-family: 'Glegoo';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/_Xmu-HQyrTKWaw2xN4aND65t.ttf) format('truetype');
}
