@font-face {
  font-family: 'Ranga';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/C8ct4cYisGb28q6FJjg.ttf) format('truetype');
}
@font-face {
  font-family: 'Ranga';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/C8cg4cYisGb28qY-AygW43k.ttf) format('truetype');
}
