@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OZpEg_xvsDZQL_LKIF7q4jP3w2j_.ttf) format('truetype');
}
@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/OZpbg_xvsDZQL_LKIF7q4jP_eE3vcKnd.ttf) format('truetype');
}
