@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/taiOGmRtCJ62-O0HhNEa-Z6v2ZU.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/taiTGmRtCJ62-O0HhNEa-ZYU_IU2SK8.ttf) format('truetype');
}
