@font-face {
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/U9MH6cuh-mLQlC4BKCtayOfARkSVq7HUIQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/U9MA6cuh-mLQlC4BKCtayOfARkSVowrxMWgrSA.ttf) format('truetype');
}
